.container{
    text-align: center;
}
.title{
    margin-top: 50px;
    color: #1850db;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title span{
    color: #fee848;

}
.reset{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 50px;
    background: #fee848;
    font-size: 26px;
    color: #fa1903;
    margin-top: 25px;
    margin-bottom: 50px;
}
.boxes{
    display: flex;
    height: 180px;
    width: 180px;
    background:#1850db;
    border: 2.8px solid #0f1b21;
    border-radius: 17px;
    cursor: pointer;
}
.board {
    height: 600px;
    width: 564px;
    display: flex;
    justify-content: space-evenly;
    gap: auto;
    margin: auto;
}

.boxes img{
    margin: 40px 40px;
}
.title img{
    padding: 20px 20px;
}
